spring:
  datasource:
    url: ${DBMS_CONNECTION:jdbc:postgresql://localhost:5433/auth-service}
    username: ${DBMS_USERNAME:postgres}
    password: ${DBMS_PASSWORD:devtran}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  valid-duration: 7200
  refreshable-duration: 72000